.Home{
    display: flex;
    height: 100%;
    justify-content:center;
    background: url(./imgs/Bean-Salad-Recipe-2-1200.jpg) 80% no-repeat;
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
}